<% provide(:title, "login in") %>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<h1 class="text-center">Login</h1>

		<br />
		<%= form_for(:session, url: login_path) do |f| %>

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</span>
				<%= f.text_field :email, placeholder: "Email", class: "form-control" %>
			</div>

<br />

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
			</div>

<br />

			<div class="input-group">
				<%= f.label :remember_me, class: "checkbox inline" do %>
				<%= f.check_box :remember_me %>
				<span>Remember me</span>
			</div>

			<% end %>

			<%= f.submit "Log in", class: "btn btn-success" %>
		<% end %>

		<p>New user? <%= link_to "Sign up now!", signup_path %></p>
	</div>
</div>
