<div class="col-xs-12 col-sm-4 col-sm-offset-4 well">

<h1 class="text-center">Edit Stock</h1>
<br />

<%= form_for(@stock) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.label :entrydate %><br />
    <%= f.date_select :entrydate %>
  </div>
  <div>
    <%= f.label :ticker %> <%= f.text_field :ticker %>
  </div>
  <div>
    <%= f.label :shares %> <%= f.text_field :shares %>
  </div>
    <div>
    <%= f.label :entryprice %> <%= f.text_field :entryprice %>
  </div>
    <div>
    <%= f.label :entryfee %> <%= f.text_field :entryfee %>
  </div>

<hr />

  <div>
    <%= f.label :exitdate %><br />
    <%= f.date_select :exitdate %>
  </div>
  <div>
    <%= f.label :exitprice %> <%= f.text_field :exitprice %>
  </div>
    <div>
    <%= f.label :exitfee %> <%= f.text_field :exitfee %>
  </div>

  <br />

  <div>
    <%= f.submit "Save Changes", class: "btn btn-success" %>
  </div>

  <br />

  <div>
    <button type="button" class="btn btn-danger" style="width:100%;color:#fff;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= link_to 'Delete Stock', @stock, method: :delete, data: { confirm: 'Are you sure want to delete this holding?  This action cannot be undone!' } %></button>
  </div>

<% end %>

</div>