<div class="col-xs-12 col-sm-4 col-sm-offset-4 well">

<h1 class="text-center">New Stock</h1>

<%= form_for(@stock) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.label :ticker %> <%= f.text_field :ticker %>
  </div>
  <div>
    <%= f.label :shares %> <%= f.text_field :shares %>
  </div>
    <div>
    <%= f.label :entryprice %> <%= f.text_field :entryprice %>
  </div>
    <div>
    <%= f.label :entryfee %> <%= f.text_field :entryfee %>
  </div>

  <br />

  <div>
    <%= f.submit "Add Stock", class: "btn btn-success" %>
  </div>

<% end %>

</div>