<div class="col-xs-12 col-sm-6 col-sm-offset-3">

<h1 class="text-center">New Stock</h1>

<%= form_for(@stock) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= hidden_field_tag :user_id, @user.id %>

  <div>
    <%= f.label :ticker %> <%= f.text_field :ticker %>
  </div>
  <div>
    <%= f.label :shares %> <%= f.text_field :shares %>
  </div>
    <div>
    <%= f.label :entryprice %> <%= f.text_field :entryprice %>
  </div>
    <div>
    <%= f.label :entryfee %> <%= f.text_field :entryfee %>
  </div>
    <div>
    <%= f.label :exitprice %> <%= f.text_field :exitprice %>
  </div>
    <div>
    <%= f.label :exitfee %> <%= f.text_field :exitfee %>
  </div>

  <br />

  <div>
    <%= f.submit "Add Stock" %>
  </div>

<% end %>

</div>