<table class="table" cellpadding="0" cellpadding="0">
  <thead>
    <tr>
      <th>ticker</th>
      <th>shares</th>
      <th>entry $</th>
      <th>entry fee</th>
      <th>exit $</th>
      <th>exit fee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @stocks.ticker %></td>
      <td><%= @stocks.shares %></td>
      <td><%= number_with_precision @stocks.entryprice, :precision => 4 %></td>
      <td><%= number_with_precision @stocks.entryfee, :precision => 2 %></td>
      <td><%= number_with_precision @stocks.exitprice, :precision => 4 %></td>
      <td><%= number_with_precision @stocks.exitfee, :precision => 2 %></td>
    </tr>
  </tbody>
</table>