<% provide(:title, 'Sign up') %>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1 class="text-center">Sign up</h1>
<br />

		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-user"></span>
				</span>
				<%= f.text_field :name, placeholder: "Name", class: 'form-control' %>
			</div>

<br />

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</span>
				<%= f.text_field :email, placeholder: "Email", class: "form-control" %>
			</div>

<br />

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<%= f.password_field :password, placeholder: "Password", class: "form-control" %>
			</div>

<br />

			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-lock"></span>
				</span>
				<%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: 'form-control' %>
			</div>

<br />

			<%= f.submit "Create Account", class: "btn btn-success" %>
		<% end %>
	</div>
</div>

