<% provide(:title, @user.name) %>

<div class="row">
		<div class="container">

			<div role="navigation">
				<ul class="nav nav-justified" style="border-bottom: 2px solid #ccc;margin-bottom: 20px;">
					<li><%= link_to 'Portfolio',		'#' %></li>
					<li><%= link_to 'Transactions',	'#' %></li>
					<li><%= link_to 'Performance',	'#' %></li>
					<li><%= link_to 'Watchlists',		'#' %></li>
				</ul>
			</div>

		</div><!-- /.container -->
</div><!-- /.row -->


<div class="row">
	<div class="col-sm-12">

		<% if @user.options.any? %>
		<h3>Options (<%= @user.options.count %>)  <%= link_to 'Add New Option', new_option_path, class: 'btn btn-primary btn-xs' %></h3>
		<table class="table table-striped table-hover" cellpadding="0" cellpadding="0">
		  <thead>
		    <tr>
		      <th scope="col">ticker</th>
		      <th scope="col">b/s</th>
		      <th scope="col">c/p</th>
		      <th scope="col">contracts</th>
		      <th scope="col">size</th>
		      <th scope="col">expiration</th>
		      <th scope="col">strike</th>
		      <th scope="col">entry$</th>
		      <th scope="col">b fee</th>
		      <th scope="col">exit $</th>
		      <th scope="col">s fee</th>
		      <th scope="col">actions</th>
		    </tr>
		  </thead>
		  <tbody>

			<%= render @options %>

		  </tbody>
		</table>
		<% end %>


		<% if @user.stocks.any? %>
			<h3>Stocks (<%= @user.stocks.count %>)  <%= link_to 'Add New Stock', new_stock_path, class: 'btn btn-primary btn-xs' %></h3>
			<table class="table table-striped table-hover" cellpadding="0" cellpadding="0">
			  <thead>
			    <tr>
			      <th scope="col">ticker</th>
			      <th scope="col">shares</th>
			      <th scope="col">entry $</th>
			      <th scope="col">current $</th>
			      <th scope="col">p/l $</th>
			      <th scope="col">p/l %</th>
<!--			      <th scope="col">exit $</th> -->
			      <th scope="col">entry fee</th>
<!--			      <th scope="col">exit fee</th> -->
			      <th scope="col">entry date</th>
<!--			      <th scope="col">exit date</th> -->
			      <th scope="col">days held</th>
			      <th scope="col">actions</th>
			    </tr>
			  </thead>
			  <tbody>

					<%= render @stocks %>

			  </tbody>
			</table>
		<% end %>


<!--	<h1>Transactions</h1> -->
<!-- see _transaction partials -->
<!--		<h4>Options</h4>
<br />
		<h4>Stock</h4>
-->
	</div><!-- /.col-sm-10 -->


</div><!-- /.row -->