<div class="col-xs-12 col-sm-4 col-sm-offset-4 well">

<h1 class="text-center">Edit Option</h1>

<%= form_for(@option) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div>
    <%= f.label :entrydate %><br />
    <%= f.date_select :entrydate, {:include_blank => true, :default => nil} %>
  </div>
  <div>
    <%= f.label :ticker %><br />
    <%= f.text_field :ticker %>
  </div>
  <div>
    <%= f.radio_button :side, "Call" %>  <%= f.label :side_call, "Call" %>
    <%= f.radio_button :side, "Put" %>  <%= f.label :side_put, "Put" %>
  </div>
  <div>
    <%= f.radio_button :optiontype, "Buy" %>  <%= f.label :optiontype_buy, "Buy" %>
    <%= f.radio_button :optiontype, "Sell" %>  <%= f.label :optiontype_sell, "Sell" %>
  </div>
  <div>
    <%= f.label :expiration %><br />
    <%= f.text_field :expiration %>
  </div>
  <div>
    <%= f.label :contracts %><br />
    <%= f.number_field :contracts, in: 1..100000, step: 1 %>
  </div>
   <div>
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
   <div>
    <%= f.label :strike %><br />
    <%= f.number_field :strike, in: 0..2000, step: 0.5 %>
  </div>
  <div>
    <%= f.label :entryprice %><br />
    <%= f.text_field :entryprice %>
  </div>
  <div>
    <%= f.label :entryfee %><br />
    <%= f.text_field :entryfee %>
  </div>

<hr />

  <div>
    <%= f.label :exitdate %><br />
    <%= f.date_select :exitdate, {:include_blank => true} %>
  </div>
  <div>
    <%= f.label :exitprice %><br />
    <%= f.text_field :exitprice %>
  </div>
  <div>
    <%= f.label :exitfee %><br />
    <%= f.text_field :exitfee %>
  </div>

  <br />

  <div>
    <%= f.submit "Update Option", class: "btn btn-success" %>
  </div>

  <br />

  <div>
    <button type="button" class="btn btn-danger" style="width:100%;color:#fff;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> <%= link_to 'Delete Option', @option, method: :delete, data: { confirm: 'Are you sure want to delete this holding?  This action cannot be undone!' } %></button>
  </div>

<% end %>

</div>