<h4>Stocks</h4>
<table class="table table-striped wide-data-table" cellpadding="0" cellpadding="0">
  <thead>
    <tr>
      <th scope="col">ticker</th>
      <th scope="col">shares</th>
      <th scope="col">entry $</th>
      <th scope="col">exit $</th>
      <th scope="col">entry fee</th>
      <th scope="col">exit fee</th>
      <th scope="col">p/l</th>
      <th scope="col">days held</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @stock.ticker %></td>
      <td><%= @stock.shares %></td>
      <td><%= number_with_precision @stock.entryprice, :precision => 4 %></td>
      <td><%= number_with_precision @stock.exitprice, :precision => 4 %></td>
      <td><%= number_to_currency @stock.entryfee %></td>
      <td><%= number_to_currency @stock.exitfee %></td>
      <td>.</td>
      <td>.</td>
    </tr>
  </tbody>
</table>