<header>

		<nav class="navbar" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<%= link_to "myMarket", root_path, class: "navbar-brand" %>
				</div>

			<ul class="nav navbar-nav navbar-right">

			<% if logged_in? %>
				<li><%= link_to "Calculators",	calculators_path %></li>
				<li><%= link_to "Stocks",				stocks_path %></li>
				<li><%= link_to "Options",			options_path %></li>
				<li><%= link_to "Dashboard",		current_user %></li>
				<li><%= link_to "Log out",			logout_path, method: "delete" %></li>

			<% else %>

				<li><%= link_to "Sign up",		signup_path %></li>
				<li><%= link_to "Log in",		login_path %></li>

			<% end %>

			</ul>

			</div><!-- /.container-fluid -->
		</nav>

</header>